{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'portafolio/img/estuardodev.webp' %}">
    <link rel="apple-touch-icon" href="{% static 'portafolio/img/estuardodev.webp' %}">
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        
    <title>@estuardodev | YouTube</title>

    <style>
        .btn_sub:hover{
            background:red;
            border-color:red;
        }
        .img{
            margin-top: 15px
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="text-center img">
            <img src="{% static 'portafolio/img/estuardodev.webp' %}" class="rounded" alt="" width="200">
        </div>
        <h1 class="h1 text-center">estuardodev</h1>
        <h4 class="text-center"><small class="text-muted">@estuardodev</small></h4>
        <div class="text-center"><button type="button" class="btn btn-secondary btn_sub">SUSCRIBIRME</button></div>
        <hr style="color:#198754;">
        <figcaption class="blockquote-footer" style="margin-top:5px;">
            Hola, soy <cite title="Source Title">Estuardo Ramírez</cite>, si estas en este lugar quiero que sepas que eres una persona muy agradable.
        </figcaption>
        <hr style="color:#198754;">
    </div>

    <div class="container">
        <h2>Videos recientes</h2>
        <br>
        <div class="row">
            <div class="col">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XY7MoeW2acc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col">
              <h3>✅ Como conectar MySQL con Django con XAMPP 2023</h3>
              <hr>
              <p>En este video te explico brevemente como realizar una conexión de Django con MySQL utilizando XAMPP, debido a que varios no conocen otros sistemas de gestión de base de datos y además en establecimientos educativos utilizan XAMPP.</p>
              <button type="button" src="" target="_blank" class="btn btn-danger">VER EN YOUTUBE</button>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col">
              <h3>✅ Como REPRODUCIR VIDEOS .MOV (HEVC) en WINDOWS 10 y 11</h3>
              <hr>
              <p>Un problema muy común que tienen los usuarios al intentar reproducir videos .MOV u otros que necesiten el codificador HEVC en Windows 10 y 11, es que no lo podrán hacer sin instalar un programa que se encuentra oculto en la tienda de aplicaciones de Microsoft. En este video te enseño como realizarlo rápidamente.</p>
              <button type="button" src="" target="_blank" class="btn btn-danger">VER EN YOUTUBE</button>
            </div>
            <div class="col">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Uy2t8FWDkwI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <br>
        <h2>Más videos</h2>
        <br>    
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XY7MoeW2acc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SlynmrVVqTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Uy2t8FWDkwI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>
    <!--Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>